{{template "adminheader.html" .}}
<script type="text/javascript" src="/static/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript">

  $(document).ready(function(){
            document.getElementById("title_font").href="/admin/wechats"
        });
function toVaild(){
    var name = document.getElementById("name").value;
      var info = document.getElementById("info").value;
      var number = document.getElementById("number").value;
      var image = document.getElementById("image").value;
      if(image == ""){
        alert("请选择图片");
        return false;
      }else if(name == ""){
        alert("微信号昵称不能为空");
        return false;
      }else if(info == ""){
        alert("微信号简介不能为空");
        return false;
      }else if(number == ""){
        alert("微信号不能为空");
        return false;
      }else{
        return true;
      }
  }
</script>
<div class="form_div">
<form class="form-inline" method="post" action="/admin/addwechat" enctype="multipart/form-data" onsubmit="return toVaild()">
  <div class="">
    <label for="">微信号昵称</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="输入微信号昵称"></div>
  <div class="">
    <label for="">微信号简介</label>
    <textarea class="form-control" rows="5" placeholder="输入微信号简介" id="info" name="info"></textarea>
  </div>
  <div class="">
    <label for="">微信号</label>
    <input type="text" class="form-control" id="number" name="number" placeholder="输入微信号"></div>
  <div class="">
    <label for="">微信号评价</label>
    <textarea class="form-control" rows="5" placeholder="输入公众号评价" id="evaluate" name="evaluate"></textarea>
  </div>
  <div class="">
    <label>选择图片：(上传微信号图片)</label>
    <input type="file" class="form-control" name="image" id="image" accept="image/jpeg,image/jpg,image/png" >
  </div class="">
    <button type="submit" class="btn btn-default">发布</button>
  </form>
</div>
  {{template "adminfooter.html" .}}
