{{template "adminheader.html" .}}
<script type="text/javascript" src="/static/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function(){
             document.getElementById("title_font").href="/admin/wxofficials"
        });
var img_path = "";
  function onclikBtn(){
    if(img_path == ""){
      alert("请选择图片");
      return;
    }
    var url = "/admin/upwxofficialimg?id="+{{.Wxnum.Id}};
    // alert(url)
     document.getElementById("upimg").action = url;
     document.getElementById("upimg").method = "post";
     document.getElementById("upimg").enctype = "multipart/form-data"
     document.getElementById("upimg").submit();
  }
    function setImage(obj){
    var value = obj.value;
    img_path = value;
  }
 </script>

<form id="upimg"class="form-inline" method="post" action="/admin/upwxofficialimg" enctype="multipart/form-data">
  <div>
    {{if eq .Wxnum.Image ""}}
      {{else}}
    <img src="{{isImgPath .Wxnum.Image}}" alt="{{isImgPath .Wxnum.Image}}" width="auto" height="100px">
    {{end}}
    <div class="form-group">
      <label>选择图片：尺寸为 450*250</label>
      <input type="file" class="form-control" name="image" id="image" accept="image/jpeg,image/jpg,image/png" onchange="setImage(this)"></div>
  </div>
  <button type="button" class="my_button my_gray" onclick="onclikBtn();">修改图片</button>
</form>
{{template "adminfooter.html" .}}
