{{template "header.html" .}}
<div class="uplode_bg">

    <div style="text-align: center;"> <font style="font-size:20px">绥化地区扫描二维码关注庆安县580</font>
    </div>
    <div style="text-align: center;">
        <img src="./static/img/qrcode.jpg">
        </div>
        <div style="text-align: center;"> <font style="font-size:20px">伊春地区扫描二维码关注铁力广告网</font>
    </div>
    <div style="text-align: center;">
        <img src="./static/img/qrcode_tl.jpg">
        </div>
    <div style="text-align: center;"> <font style="font-size:20px">庆安县580客服微信号</font>
    </div>
    <div style="text-align: center;">
        <img src="./static/img/service.jpg"></div>
        <div style="text-align: center;"> <font style="font-size:20px">铁力广告网客服微信号</font>
    </div>
    <div style="text-align: center;">
        <img src="./static/img/service_tl.jpg"></div>
        
</div>
{{template "footer.html" .}}