{{template "adminheader.html" .}}
<div class="list_but">
  <a class="btn btn-default" href="/admin/addwxlist">添加公众号</a>
</div>
<ul class="list-group">
  {{range .Wxnums}}
  <div class="col-sm-6 col-md-4 thumbnail">
    {{if eq .Image ""}}
              {{.Image}}
            {{else}}
    <img src="{{isImgPath .Image}}" alt="{{isImgPath .Image}}">
    {{end}}
    <div class="caption">
      <h3>{{.Title}}</h3>
      <p>{{.Info}}</p>
      <p>公众号:{{.Num}}</p>
      {{if eq .Evaluate ""}}
            {{else}}
      <p>评价:{{.Evaluate}}</p>
      {{end}}
    </div>
    {{if eq .State 0}}
    <a href="/admin/wxlist?op=state&id={{.Id}}" >上线</a>
    {{else}}
    <a href="/admin/wxlist?op=state1&id={{.Id}}" >下线</a>
    {{end}}
    <a href="/admin/wxlist?op=upinfo&id={{.Id}}" >修改内容</a>
    <a href="/admin/wxlist?op=upimg&id={{.Id}}" >修改图片</a>
    <a href="/admin/wxlist?op=del&id={{.Id}}" >删除</a>
    <div >{{timeformat .Time}}</div>
  </div>
  {{end}}
</ul>
{{template "adminfooter.html" .}}