{{template "adminheader.html" .}}
<script type="text/javascript" src="/static/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script language="javascript">
$(document).ready(function(){
            document.getElementById("title_font").href="/admin/caidans?id={{.Fid}}"
        });
  var img_path = "";
  function setImage(obj){  
    var value = obj.value;  
    img_path = value;
  } 
  function onclikBtn(){
    var image = document.getElementById("image").value;
    var name = document.getElementById("name").value;
    var info = document.getElementById("info").value;
    var mtype = document.getElementById("mtype").value;
     var price = document.getElementById("price").value;
    
    if(image == ""){
      alert("请选择图片");
      return ;
    }else if(name == ""){
      alert("菜名不能为空");
      return ;
    }else if(info == ""){
      alert("菜品详情不能为空");
      return ;
    }else if(mtype == ""){
      alert("菜品分类不能为空");
      return ;
    }else if(price == ""){
      alert("菜品价格不能为空");
      return ;
    }
    var url = "/admin/addcaidan?image="+img_path+"&name="+name+"&info="+info+"&mtype="+mtype+"&fid={{.Fid}}";
      document.getElementById("add").action = url;
     document.getElementById("add").method = "post";   
     document.getElementById("add").enctype = "multipart/form-data";
     document.getElementById("add").submit(); 
  }
</script>
<div class="uplode_bg">
  <form id = "add" class="form-inline" method="post" action="/admin/addwaimai" enctype="multipart/form-data" >
    <div class="form-group"> <font class="up_fnt" for="" style="color:#000">菜名</font>
      <input type="text" class="form-control" id="name" name="name" placeholder="输入菜品名称"></div>
    <div class="form-group"> <font class="up_fnt">详情</font>
      <textarea class="form-control" rows="5" placeholder="输入菜品详情" id="info" name="info"></textarea>
    </div>
    <div class="form-group">
      <font class="up_fnt">价格</font>
      <input class="form-control" placeholder="输入菜品价格" id="price" name="price"></input>
  </div>
  <div class="form-group">
    <font class="up_fnt">分类</font>
    <input class="form-control"  placeholder="输入菜品分类" id="mtype" name="mtype"></input>
</div>
<div class="form-group">
  <font class="up_fnt">选择图片：(上传菜品图片)</font>
  <input type="file" class="form-control" name="image" id="image" accept="image/*" onchange="setImage(this)"></div>
<div>
  <font class="info_fnot">精美的菜品更有诱惑力</font>
</div>
<div class="body_right">
  <button type="button" class="my_button my_gray" onclick="onclikBtn();">发布</button>
</div>
</form>

</div>
{{template "adminfooter.html" .}}