{{template "adminheader.html" .}}
<script type="text/javascript" src="/static/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function(){
            initData();
        });
function initData(){
  // alert({{.Guanggao}})
   document.getElementById("title_font").href="/admin/wxlist"
  document.getElementById("title").value = {{.Wxnum.Title}};
  document.getElementById("number").value = {{.Wxnum.Num}};
  document.getElementById("info").value = {{.Wxnum.Info}};
  document.getElementById("evaluate").value = {{.Wxnum.Evaluate}};
}
  function toVaild(){
    var title = document.getElementById("title").value;
    var info = document.getElementById("info").value;
    var number = document.getElementById("number").value;
    if(title == ""){
      alert("公众号名称不能为空");
      return false;
    }else if(info == ""){
      alert("公众号简介不能为空");
      return false;
    }else if(number == ""){
      alert("公众号不能为空");
      return false;
    }else{
      return true;
    }
  }

  function upInfo(){
   var title = document.getElementById("title").value;
    var info = document.getElementById("info").value;
    var number = document.getElementById("number").value;
    var evaluate = document.getElementById("evaluate").value;
    if(title == ""){
      alert("请输入公众号名称");
      return;
    }
    if(info == ""){
      alert("请输入公众号简介");
      return;
    }
    if(number == ""){
      alert("请输入公众号");
      return;
    }
    var url = "/admin/upwxnuminfo?&title="+title+"&info="+info+"&number="+number+"&evaluate="+evaluate+"&id="+{{.Wxnum.Id}};
    // alert(url)
    document.getElementById("upinfo").action = url;
     document.getElementById("upinfo").method = "post";   
     document.getElementById("upinfo").enctype = "multipart/form-data";
     document.getElementById("upinfo").submit(); 
  }
</script>
<form id = "upinfo"class="form-inline" method="post" action="/admin/upwxnuminfo" enctype="multipart/form-data" onsubmit="return toVaild()">
  <div class="form-group">
    <label for="">公众号名称</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="输入公众号名称"></div>
  <div class="form-group">
    <label for="">公众号简介</label>
    <textarea class="form-control" rows="5" placeholder="输入公众号简介" id="info" name="info"></textarea>
  </div>
  <div class="form-group">
    <label for="">公众号</label>
    <input type="text" class="form-control" id="number" name="number" placeholder="输入公众号"></div>
  <div class="form-group">
    <label for="">公众号评价</label>
    <textarea class="form-control" rows="5" placeholder="输入公众号评价" id="evaluate" name="evaluate"></textarea>
  </div>
  <button type="button" class="btn btn-default" onclick="upInfo();">修改</button>
</form>
{{template "adminfooter.html" .}}