

      <!--友情链接-->
    <hr>
    <div class="footer_div"> <font class="admin_footer_font">有情怀的免费信息发布网站</font>
    </div>
    <div class="footer_div">
    <font class="admin_footer_font1">版本信息:{{versionInfo }}</font>
    <a class="admin_footer_font1" href="/admin/updatelog">更新日志</a>
    </div>
    <div style="height:60px;"></div>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    </body>
    </html>