{{template "adminheader.html" .}}
<script type="text/javascript" src="/static/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function(){
            document.getElementById("title_font").href="/poll/adminpolls"
        });
function onclikOp(state,id){
  var url = "/poll/adminpollscon?op="+state+"&id="+id+"&pollsid="+{{.PollsId}}
  // alert(url)
window.location.href=url; 
}
function onclikVotes(id){
  var url = "/poll/adminpollvote?pollid="+id+"&pollsid="+{{.PollsId}}
  // alert(url)
window.location.href=url; 
}
    </script>

<ul class="list-group">
  {{range .Objs}}
  <li class="list-group-item">
    {{if eq .Image ""}}
         {{.Image}}
        {{else}}
    <div id="image_fnot" >
      <img src="{{isImgPath .Image}}" alt="{{isImgPath .Image}}" width="320px" height="auto"></div>
    {{end}}
    <div>
      <h1>{{.Title}}</h1>
    </div>
    <div>{{.Info}}</div>
    <div>{{.ContactWay}}</div>
    <div>票数：{{.VoteNum}}</div>
    <div >{{timeformat2 .CreateTime}}</div>
    {{if eq .State 0}}
    <a href="javascript:void(0)" onclick="onclikOp('state',{{.Id}})">未上架</a>
    {{else}}
    <a href="javascript:void(0)" onclick="onclikOp('state1',{{.Id}})">已上架</a>
    {{end}}
    <a href="javascript:void(0)" onclick="onclikVotes({{.Id}})">详情</a>
  </li>
  {{end}}
</ul>
{{template "adminfooter.html" .}}