<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<link rel="shortcut icon" href="/static/img/dqsjicon.jpg" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<!-- Stylesheets -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/static/css/mycss.css">
	<title>大签世界</title>
<head>
<body>
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript">
	wx.config({
	    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
	    appId: {{.AppId}}, // 必填，公众号的唯一标识
	    timestamp: {{.TimesTamp}}, // 必填，生成签名的时间戳
	    nonceStr: {{.NonceStr}}, // 必填，生成签名的随机串
	    signature: {{.Ticket}},// 必填，签名，见附录1
	    jsApiList: [
	    	'onMenuShareTimeline',//朋友圈
	    	'onMenuShareAppMessage'//微信好友
	    ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
	});
	 wx.ready(function () {   //ready函数用于调用API，如果你的网页在加载后就需要自定义分享和回调功能，需要在此调用分享函数。//如果是微信游戏结束后，需要点击按钮触发得到分值后分享，这里就不需要调用API了，可以在按钮上绑定事件直接调用。因此，微信游戏由于大多需要用户先触发获取分值，此处请不要填写如下所示的分享API
		wx.onMenuShareTimeline({
		    title: {{.WxShareCon.Title}}, // 分享标题
		    link: {{.WxShareCon.Link}}, // 分享链接
		    imgUrl: {{.WxShareCon.ImgUrl}}, // 分享图标
		    success: function () { 
		        // 用户确认分享后执行的回调函数
		    },
		    cancel: function () { 
		        // 用户取消分享后执行的回调函数
		    }
		});
		wx.onMenuShareAppMessage({
		    title: {{.WxShareCon.Title}}, // 分享标题
		    desc: {{.WxShareCon.Title}}, // 分享描述
		    link: {{.WxShareCon.Link}}, // 分享链接
		    imgUrl: {{.WxShareCon.ImgUrl}}, // 分享图标
		    type: '', // 分享类型,music、video或link，不填默认为link
		    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
		    success: function () { 
		        // 用户确认分享后执行的回调函数
		    },
		    cancel: function () { 
		        // 用户取消分享后执行的回调函数
		    }
		});
	});
	wx.error(function (res) {
	 alert(res.errMsg);  //打印错误消息。及把 debug:false,设置为debug:ture就可以直接在网页上看到弹出的错误提示
	});
</script>
	<script type="text/javascript" src="/static/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
	<script type="text/javascript">
	  function onHome(){
	  	  var url = "/dqsj/home"
          window.location.href = url
	  }
	  function onCai(){
	  		var url = "/dqsj/cai"
          window.location.href = url
	  }
	  function onPan(){
	  		var url = "/dqsj/pan"
          window.location.href = url
	  }
</script>
	<div class="qax_bg">
		<!-- 底部菜单栏-->
		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
			<div class="container-fluid">
				<div class="row">
					{{if eq .Bpan true}}
					<button class="col-xs-4 col-md-4 poll_home_but" onclick="onHome()"> <font class="poll_nav_font">主页</font>
					</button>
					<button class="col-xs-4 col-md-4 footer_div poll_home_but" onclick="onCai()"> <font class="poll_nav_font">菜单</font>
					</button>
					<button class="col-xs-4 col-md-4 footer_div poll_home_but" onclick="onPan()">
						<font class="poll_nav_font">转盘</font>
					</button>
					{{else}}
					<button class="col-xs-6 col-md-6 poll_home_but" onclick="onHome()">
						<font class="poll_nav_font">主页</font>
					</button>
					<button class="col-xs-6 col-md-6 footer_div poll_home_but" onclick="onCai()">
						<font class="poll_nav_font">菜单</font>
					</button>
					{{end}}
				</div>
			</div>
		</nav>
		<ul class="list-group ">
			{{range .CaiTips}}
			<li class="list-group-item">
				<h5>温馨提示 {{.Info}}</h5>
			</li>
			{{else}}	
			{{end}}
		</ul>

		<ul class="list-group">
			{{range .ShowCaiGroup}}
			<li class="list-group-item">
				<div class="dqsj_group_div">
					<span class="label label-danger">{{.Name}}</span>
				</div>
				<ul class="list-group ">
					{{range .CaiItems}}
					<li class="list-group-item">
						{{if eq .Image ""}}
						<div class="">
							<h5>{{.Name}}</h5>
							<h5 style="float:right;  position: relative;top: -35px;">{{.PriceDesc}}</h5>
						</div>
						{{else}}
						<div class="dqsj_caidn_img_div">
							<img src="{{isImgPath .Image}}" alt="{{isImgPath .Image}}" class="dqsj_list_time_caidan" >
							<div class="dqsj_caidn_info_div">
								<div>{{.Name}}</div>
								<div>{{.PriceDesc}}</div>
							</div>
						</div>
						{{end}}
					</li>
					{{end}}
				</ul>
			</li>
			{{else}}
			<div style=" text-align:center; margin-left:auto; margin-right:auto;">
				<h3>敬请期待！</h3>
			</div>
			{{end}}
		</ul>
		<div style="height: 60px;"></div>

	</div>
	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>