
    <!--友情链接-->
    <div class="friendly_link_bg">
<div class="footer_div"> <font class="friendly_link_title">友情链接</font></div>
 <hr>
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-md-3" style="text-align:center;">
            <a  href="http://www.lanxixian.com/wap" target="_blank">
              <img class="friendly_link_icon" src="/static/img/lianxi_icon.png" />
            </a>
          </div>
          <div class="col-xs-6 col-md-3" style="text-align:center;">
            <a  href="http://qingantc.ooss.com" target="_blank">
              <img class="friendly_link_icon" src="/static/img/qingantc_icon.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
      <!--友情链接-->
          <hr>
    <div class="footer_div"> <font class="footer_font">有情怀的免费信息发布网站</font>
    </div>
    <div class="footer_div">
    <a class="footer_font1" href="/contactus">联系我们</a> <font class="footer_font1">|</font>
    <a class="footer_font1" href="/feedback">意见反馈</a>
    </div>
    <div class="footer_div">
    <font class="footer_font1">Copyright @ 咱这580 | 京ICP备16054928号 | 京ICP备16054928号-1</font>
    </div>
    <div class="footer_div">
    <font class="footer_font1">版本信息:{{versionInfo }}</font>
    <a class="footer_font1" href="/updatelog">更新日志</a>
    </div>
    <div style="height:20px;"></div>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    </body>
    </html>