{{template "header.html" .}}
<script type="text/javascript" src="static/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript">
var url = "http://v.juhe.cn/exp/com?key=cc85926bb6f6c5b2eacdb5cc8bea3adb"
var json = "";
$(document).ready(function(){
            $.ajax({
                url: url,
                type: "GET",
                dataType: 'JSONP',
                success: function(result){
                    analyticalData(result)
                }
            });
        });

function analyticalData(result){
    json = result;
    if(json.error_code == 0){
        var result = json.result;
        document.getElementById("gongsi").options.length=0;
        for(var i = 0 ; i < result.length ; i ++ ){
             document.getElementById("gongsi").options.add(new Option(result[i].com,result[i].no));
          } 
    }
}
function onclikBtn(){
    	var gongsi=document.getElementById("gongsi");
    	var gongsiinfo =gongsi.options[gongsi.selectedIndex].value; 
    	// alert(gongsiinfo)
      	var dingdan = document.getElementById("dingdan").value;
	    if(dingdan == ""){
	    	alert("请输入查询的订单号")
	    	return;
	    }

	    var url = "/kuaidi?com="+gongsiinfo+"&no="+dingdan;
	    // alert(url)
	   document.getElementById("queryForm").action = url;
	   document.getElementById("queryForm").method = "post";   
	   document.getElementById("queryForm").enctype= "multipart/form-data"
	   document.getElementById("queryForm").submit(); 
}
</script>
<div class="uplode_bg">
	<form action="" method="post" id="queryForm">
		<div class="form-group"> <font class="up_fnt" for="" style="color:#000">快递公司:</font>
			<select style="width:100px;font-size:20px" id="gongsi" name="gongsi"></select>
		</div>
		<div class="form-group"> <font class="up_fnt" for="" style="color:#000">订单号:</font>
			<input type="text" class="form-control" id="dingdan" name="dingdan" placeholder="请输入要查询的订单号"></div>
		<div class="body_right">
			<button type="button" class="my_button my_gray" onclick="onclikBtn();">查询</button>
		</div>
		<!-- <button type="submit">点击</button>
	-->
</form>
<div>
	{{if eq .IsShow "true"}}
	{{if eq .ErrorCode 0 }}
	<div>
		<div >
			<span class="lable1_font">快递公司：</span>
			{{.KResult.Company}}
		</div>
		<div >
			<span class="lable1_font">快递单号：</span>
			{{.KResult.No}}
		</div>
	</div>
	<ul class="list-group">
		{{range .KuaidiItems}}
		<div class="list-group-item">
			<div>{{.Datetime}}</div>
			<div>{{.Remark}}</div>
			<div>{{.Zone}}</div>
		</div>
		{{end}}
	</ul>
	{{else}}
		{{.ErrorInfo}}
	{{end}}
{{end}}
</div>

</div>
{{template "trainfooter.html" .}}