{{template "adminheader.html" .}}
<script type="text/javascript" src="/static/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function(){

        });
</script>


<div class="btn-group" role="group" aria-label="...">
  <a type="button" class="btn btn-default" href="/photo/adminurl">测试页面</a>
  <a type="button" class="btn btn-default" href="/photo/adminoauth">授权用户</a>
  <a type="button" class="btn btn-default" href="/photo/adminsize">照片尺寸</a>
  <a type="button" class="btn btn-default" href="/photo/admintemp">照片模版</a>
  <a type="button" class="btn btn-default" href="/photo/adminorders">订单列表</a>
</div>

{{template "adminfooter.html" .}}