{{template "adminheader.html" .}}
<script type="text/javascript" src="/static/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function(){
		document.getElementById("title_font").href="/photo/adminhome"
        });
      function addPost(){
      	var appid = document.getElementById("appid").value;
      	var secret = document.getElementById("secret").value;
      	if(appid == ""){
      			alert("请输入appid")
      			return
      	}
      	if(secret == ""){
      			alert("请输入secret")
      			return
      	}
      	    //调用方法 如        
      var post_map = { op:"add",appid: appid, secret: secret} 
      var post_url = "/photo/postoauth";
      $.ajax({
                url : post_url,
                data:post_map,
                cache : false, 
                async : true,
                type : "POST",
                dataType : 'json',
                success : function (result){
                    // alert(result.errcode)
                    if(result.errcode == 0){
           				window.location.href="/photo/adminoauth";  
                    }else{
                        alert(result.errmsg)
                    }
                },
               error: function(XMLHttpRequest, textStatus, errorThrown) {
               alert(XMLHttpRequest.status);
               alert(XMLHttpRequest.readyState);
               alert(textStatus);
               }
            });
      }
	function delPost(id){
      	if(id == ""){
      			alert("id错误")
      			return
      	}

      	    //调用方法 如        
      var post_map = { op:"del",id: id} 
      var post_url = "/photo/postoauth";
      $.ajax({
                url : post_url,
                data:post_map,
                cache : false, 
                async : true,
                type : "POST",
                dataType : 'json',
                success : function (result){
                    // alert(result.errcode)
                    if(result.errcode == 0){
           				window.location.href="/photo/adminoauth";  
                    }else{
                        alert(result.errmsg)
                    }
                },
               error: function(XMLHttpRequest, textStatus, errorThrown) {
               alert(XMLHttpRequest.status);
               alert(XMLHttpRequest.readyState);
               alert(textStatus);
               }
            });
      }
</script>

<div>
	<div class="appid">
		<label for="">输入appid</label>
		<input type="text" class="form-control" id="appid" name="appid" placeholder="输入appid"></div>
	<div class="">
		<label for="">输入secret</label>
		<input type="text" class="form-control" id="secret" name="secret" placeholder="输入secret"></div>
	<br/>
	<button class="btn btn-default" onclick="addPost();">添加授权</button>
</div>

<ul class="list-group">
	{{range .Objs}}
	<li class="list-group-item">
		<div >
			<label for="">appid:</label>
			{{.Appid}}
		</div>
		<div >
			<label for="">secret:</label>
			{{.Secret}}
		</div>
		<button class="btn btn-default" onclick="delPost({{.Id}});">删除</button>
	</li>
	{{end}}
</ul>
{{template "adminfooter.html" .}}