    <hr></hr>
    <div class="footer_div"> <font class="footer_font">本站数据由聚合数据
        <a href="http://www.juhe.cn" target="blank">juhe.cn</a>
        提供</font> 
    </div>
    <div class="footer_div"> <font class="footer_font">有情怀的免费信息发布网站</font>
    </div>
    <div class="footer_div">
    <a class="footer_font1" href="/contactus">联系我们</a>
    <font class="footer_font1">|</font>
    <a class="footer_font1" href="/feedback">意见反馈</a>
    </div>
    <div class="footer_div">
    <font class="footer_font1">Copyright @ 咱这580 | 湘ICP备14015285号 | 湘ICP备14015285号-1</font>
    </div>
    <div class="footer_div">
    <font class="footer_font1">版本信息:{{versionInfo }}</font>
    <a class="footer_font1" href="/updatelog">更新日志</a>
    </div>
    <div style="height:20px;"></div>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    </body>
    </html>