<div class="uplode_bg">
	<div class="list-group">
		<div>
			<h4>1.0.1 bate版本</h4>
			<div>更新日期： 2015年10月18</div>
			更新内容：首页纪录公众号人物信息
					接入聚合数据查询天气和火车票
					公众号菜单调整
		</div>
		<div>
			<h4>1.0.2 bate版本</h4>
			<div>更新日期： 2015年10月23</div>
			更新内容：接入聚合查询违章车辆
			公众号菜单调整
		</div>
		<div>
			<h4>1.0.3 bate版本</h4>
			<div>更新日期： 2015年10月26</div>
			更新内容：快递查询 今日580模块
			公众号菜单调整
		</div>
		<div>
			<h4>1.0.4 bate版本</h4>
			<div>更新日期： 2015年10月29</div>
			更新内容：优化发布信息搜索规则，调整网站页脚
		</div>
		<div>
			<h4>1.0.5 bate版本</h4>
			<div>更新日期： 2015年11月3</div>
			更新内容：广告栏功能上线
		</div>
		<div>
			<h4>1.0.6 bate版本</h4>
			<div>更新日期： 2015年11月6</div>
			更新内容：推荐公众号后台完善
		</div>
		<div>
			<h4>1.0.7 bate版本</h4>
			<div>更新日期： 2015年11月8</div>
			更新内容：外卖订餐功能上线测试 部分功能优化
		</div>
		<div>
			<h4>1.0.8 bate版本</h4>
			<div>更新日期： 2015年11月11</div>
			更新内容：主页增加悬浮功能栏 增加推荐微信号功能
		</div>
		<div>
			<h4>1.0.9 bate版本</h4>
			<div>更新日期： 2015年12月16</div>
			更新内容：新增我的消息 调整信息列表图片显示 修改近日580缩略图 修改推荐信息缩略图
		</div>
		<div>
			<h4>1.1.0 bate版本</h4>
			<div>更新日期： 2015年12月18</div>
			更新内容：广告栏后台调整增加内容显示数量 增加内容详情图片 后台主页增加未审核数量显示
		</div>
		<div>
			<h4>1.1.1 bate版本</h4>
			<div>更新日期： 2015年12月21</div>
			更新内容：分区域上传 我的消息微信接口回调
		</div>
		<div>
			<h4>1.1.2 bate版本</h4>
			<div>更新日期： 2016年1月24</div>
			更新内容：帮帮币系统测试版上线
		</div>
		<div>
			<h4>1.1.3 bate版本</h4>
			<div>更新日期： 2016年2月27</div>
			更新内容：帮帮币兑换商城上线 更名为咱这580 发布三方信息添加来源 关键字索引功能
		</div>
		<div>
			<h4>1.1.4 bate版本</h4>
			<div>更新日期： 2016年3月6</div>
			更新内容：发布信息跳转流程ul 系统通知初版测试(发布信息通过，发布信息违规)
		</div>
		<div>
			<h4>1.1.5 bate版本</h4>
			<div>更新日期： 2016年3月11</div>
			更新内容：投票系统测试版上线
		</div>
		<div>
			<h4>1.1.6 bate版本</h4>
			<div>更新日期： 2016年3月17</div>
			更新内容：微平台系统公测
		</div>
		<div>
			<h4>1.1.7 bate版本</h4>
			<div>更新日期： 2017年3月30</div>
			更新内容：账号系统与公众号分离
		</div>
		<div>
			<h4>1.1.8 bate版本</h4>
			<div>更新日期： 2017年4月19</div>
			更新内容：信息详情二级路径调整
		</div>
		<div>
			<h4>1.1.9 bate版本</h4>
			<div>更新日期： 2017年7月25</div>
			更新内容：主页面调整
		</div>
	</div>
</div>
