{{template "header.html" .}}
<script type="text/javascript" src="/static/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script language="javascript">
$(document).ready(function(){
            document.getElementById("title_font").href="/wpt/adminhome"
        });
   var img1_path = "";
  function setImage1(obj){  
    var value = obj.value;  
    img1_path = value;
  } 
  function onclikAdd(){
    var title = document.getElementById("title").value;
    var wid = document.getElementById("wid").value;
    var info = document.getElementById("info").value;
    var wrange = document.getElementById("wrange").value;
    if(title == ""){
      alert("平台名称");
      return ;
  }else if(wid == ""){
  	alert("平台微信号");
      return ;
    }else if(info == ""){
      alert("平台内容");
      return ;
    }else if(img1_path == ""){
      alert("请选择平台二维码");
      return ;
    }
    var url = "/wpt/adminadd?title="+title+"&info="+info+"&qrcode="+img1_path+"&wid="+wid+"&wrange="+wrange;
    // alert(url)
      document.getElementById("add").action = url;
     document.getElementById("add").method = "post";   
     document.getElementById("add").enctype = "multipart/form-data";
     document.getElementById("add").submit(); 
  }
</script>
<div class="uplode_bg">
	<form id = "add" class="form-inline" method="post" action="/admin/addwaimai" enctype="multipart/form-data" >
		<div class=""> <font class="up_fnt">平台名称</font>
			<input type="text" class="form-control" id="title" name="title" placeholder="输入平台名称"></div>
		<div class=""> <font class="up_fnt">平台微信号</font>
			<input type="text" class="form-control" id="wid" name="wid" placeholder="输入平台微信号"></div>
      <div class=""> <font class="up_fnt">服务范围</font>
      <input type="text" class="form-control" id="wrange" name="wrange" placeholder="输入服务范围"></div>
		<div class="">
			<font class="up_fnt">平台介绍</font>
			<textarea class="form-control" rows="5" placeholder="输入平台介绍" id="info" name="info"></textarea>
		</div>
		<div class="">
			<font class="up_fnt">二维码图片 尺寸 512*512</font>
			<input type="file" class="form-control" name="image1" id="image1" accept="image/*" onchange="setImage1(this)"></div>
		<div class="body_right">
			<button type="button" class="my_button my_gray" onclick="onclikAdd();">发布</button>
		</div>
	</form>

</div>
{{template "footer.html" .}}