{{template "header.html" .}}
<div class="row qax_bg">
  <ul class="list-group">
    {{range .Wxnums}}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        {{if eq .Image ""}}
                  {{.Image}}
                {{else}}
        <img src="{{isImgPath .Image}}" alt="{{isImgPath .Image}}">
        {{end}}
        <div class="caption"> <font class="title_fnot">{{.Title}}</font>
          <div class="cont_info"> <font class="info_fnot">{{.Info}}</font>
          </div>
          <div class="cont_info">
            <font class="info_fnot">公众号:{{.Num}}</font>
          </div>
          {{if eq .Evaluate ""}}
                {{else}}
          <div class="cont_info">
            <font class="info_fnot">推荐理由:{{.Evaluate}}</font>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    {{end}}
  </ul>
</div>
{{template "footer.html" .}}